body{
    overflow-x: hidden;
    overflow-y: scroll;
}


.container{
    display: flex;
    flex-direction: column;
    width: 90%;
    
}

.imagebox{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: -13pc;
}



.mainflex{
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  margin-left: 7pc;
}

.postal{
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: left;

}

.postal h5{
    color: hsl(35, 77%, 62%);
}

.phone{
    margin-top: 1pc;
}

.contact{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.contact1{
    display: flex;
    flex-direction: row;

}

.contact1 input{
    margin: 5px 5px;
    padding: 10px 10px;
    width: 70%;
    height: 40%;
    margin-bottom: 0.2pc;
    border: 1px solid rgb(53, 52, 52);
}

.contact2 textarea{
    margin-top: 2pc;
    height: 200px;
    width: 743px;
    resize: none;
    margin-left: 0.3pc;
    margin-bottom: 1pc;
}

button{
    margin-top: 1pc;
    width: 20%;
    height: 10%;
    margin-left: 0.2pc;
    background-color: hsl(35, 77%, 62%);
    margin: 3px 3px;
    padding: 3px 3px;
    border: none;
    border-radius: 5px;
    
}



button a{
    text-decoration: none;
    color: #fff;
}


@media (max-width:1440px){
    body{
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .container{
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .mainflex{
        width: 80%;
    }
    .postal{
        width: 20%;
    }

    .contact{
        width: 70%;
    }

    .contact2 textarea{
        height: 200px;
        width: 710px;
    }


}

@media (max-width:1024px) and (min-width:738px){

    .contact2 textarea{
        height: 150px;
        width: 490px;
    }


}

@media (max-width:768px) and (min-width:554px){

    .contact{
        width: 80%;
    }

    .contact2 textarea{
        height: 200px;
        width: 420px;
    }

}

@media (min-width:375px) and (max-width:554px){

    .imagebox{
        width: 100%;
        height: 70%;

    }

    .imagebox iframe{
        width: 100%;
        
    }

    .mainflex{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-around;
    }

    .postal,.contact,.contact1{
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: large;

    }

    .contact1 {
        width: 80%;
    }

    .contact2 textarea{
        width: 60%;
    }

    


}

@media (max-width:320px){

    .imagebox{
        width: 100vw;
        height: 70%;

    }

    .imagebox iframe{
        width: 100vw;
        
    }

    .mainflex{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-around;
    }

    .postal,.contact,.contact1{
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: large;

    }

    .postadd{
        width: 60%;
    }

    .contact1 {
        width: 70%;
    }

    .contact2 textarea{
        width: 55%;
    }

    button{
        margin-top: 1pc;
        width: 30%;
        height: 20%;
        margin-left: 0.2pc;
        background-color: hsl(35, 77%, 62%);
        margin: 6px 6px;
        padding: 6px 6px;
        border: none;
        border-radius: 5px;
        
    }

}

